.footer {
  background-color: #262626;
  padding: 70px 264px 92px 264px;

  &__container {
    display: grid;
    grid-template-columns: 1450px;
    justify-content: center;
  }

  &__upper-part {
    display: grid;
    //with right margin
    grid-template-columns: 828px 375px 98px;
    justify-content: center;
    padding-bottom: 40px;
    border-bottom: 1px solid white;
  }

  &__logo-mobile {
    margin-right: 542px;
  }

  &__logo {
    display: block;
    margin-bottom: 65px;
  }

  &__mobile-app {
    width: 135px;
    height: 40px;

    &:first-child {
      padding-right: 16px;
    }
  }

  &__list-about {
    margin-right: 235px;
  }

  &__list-link {
    display: block;
    color: #FFFFFF;
    text-decoration: none;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &:first-child {
      font-weight: 500;
    }
  }
}