@mixin buttoWithIcon ($icon) {
  border-width: 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: white;

  &::before {
    content: url($icon);
    padding: 0 10px 0 16px;
  }
}

.container {
  width: 1490px;
  margin: 0 auto;
}

.header {

  &__container {
    height: 80px;

    display: flex;
    align-items: center;
  }

  &__location {
    margin-left: 222px;
    @include buttoWithIcon('/img/location.svg');
  }

  &__delivery-time {
    margin-left: 60px;
    @include buttoWithIcon('/img/delivery.svg');
  }

  &__search {
    margin-left: auto;
    @include buttoWithIcon('/img/search.svg');
  }

  &__sign-in {
    margin-left: 40px;
    color: black;
    text-decoration: none;
  }
}
